<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongdong.ailiaoapp.mapper.MemberMapper">

    <resultMap id="BaseResultMap" type="com.chongdong.ailiaoapp.model.Member">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="grade" column="grade" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="modifytime" column="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,grade,createTime,
        modifyTime
    </sql>
</mapper>
