<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongdong.ailiaoapp.mapper.ReportMapper">

    <resultMap id="BaseResultMap" type="com.chongdong.ailiaoapp.model.Report">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="informerId" column="informer_id" jdbcType="BIGINT"/>
            <result property="reporterId" column="reporter_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="contentId" column="content_id" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="descriptionImagePath" column="description_image_path" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,informer_id,reporter_id,
        type,content_id,description,
        description_image_path,status,create_time
    </sql>
</mapper>
