<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongdong.ailiaoapp.mapper.TrendsLikeMapper">

    <resultMap id="BaseResultMap" type="com.chongdong.ailiaoapp.model.TrendsLike">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="likePeopleId" column="like_people_id" jdbcType="BIGINT"/>
            <result property="trendsId" column="trends_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,like_people_id,trends_id,
        create_time
    </sql>
</mapper>
